.app__partner {
    width: 100%;
    background-color: var(--color-royalblue);
    position: relative;
    z-index: 1;
}

.snaplogic__monogram_top {
    width: 30rem;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.snaplogic__monogram_bottom {
    width: 30rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.app__partner-title {
    color: var(--color-white);
}

.app__partner-logo {
    width: 10%;
    margin: 3rem 0 0;
}

.app__partner-description {
    color: var(--color-white);
}

.app__partner-subheading {
    margin: 3rem 0 1rem;
    color: var(--color-white);
    font-weight: 600;
}

.app__partner-coursecontainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.app__partner-button,
.app__courses-button {
    width: 15%;
    margin: 5rem auto 0;
    display: block;
    border-radius: 4px;
    transition: 0.1s;
}

.app__courses-button {
    width: 12%;
}

.app__partner-button button,
.app__courses-button button {
    width: 100%;
    padding: 1rem 0;
    color: var(--color-royalblue);
    background-color: var(--color-white);
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}

.app__courses-button button {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.app__partner-button:hover,
.app__courses-button:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.app__partner-button:active,
.app__courses-button:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.app__partner-button button .dropdown_arrow,
.app__courses-button .dropdown_arrow {
    margin-left: 0.5rem;
    color: var(--color-royalblue);
}

.app__courses-button button .dropdown_arrow {
    color: var(--color-white);
}



@media screen and (min-width: 2000px) {
    .app__partner-logo {
        width: 12%;
    }

    .app__partner-button {
        width: 16%;
    }
    
    .app__partner-button button,
    .app__courses-button button {
        padding: 1.2rem 0;
        font-size: 28px;
    }
}



@media screen and (min-width: 1400px) and (max-width: 1680px) {
    .app__partner-logo {
        width: 12%;
    }
}



@media screen and (min-width: 1151px) and (max-width: 1400px) {
    .app__partner-logo {
        width: 14%;
    }

    .app__partner-button {
        width: 20%;
    }

    .app__courses-button {
        width: 15%;
    }
}



@media screen and (max-width: 1150px) {
    .app__partner-logo {
        width: 18%;
    }

    .app__partner-button {
        width: 26%;
    }

    .app__courses-button {
        width: 22%;
    }
    
    .app__partner-button button,
    .app__courses-button button {
        font-size: 20px;
    }
}



@media screen and (max-width: 850px) {
    .app__partner-logo {
        width: 26%;
    }

    .app__partner-button {
        width: 34%;
    }

    .app__courses-button {
        width: 30%;
    }

    .app__partner-button button,
    .app__courses-button button {
        padding: 1rem 0;
    }
}



@media screen and (max-width: 650px) {
    .app__partner-logo {
        width: 32%;
        margin: 2rem 0 0;
    }

    .app__partner-button {
        width: 44%;
        margin: 3rem auto 0;
    }

    .app__courses-button {
        width: 32%;
    }

    .app__partner-button button,
    .app__courses-button button {
        padding: 0.8rem 0;
        font-size: 16px;
    }
}



@media screen and (max-width: 450px) {
    .app__partner-logo {
        width: 44%;
    }

    .app__partner-button {
        width: 50%;
    }

    .app__courses-button {
        width: 40%;
        margin: 3rem auto 0;
    }

    .app__partner-button button,
    .app__courses-button button {
        padding: 0.6rem 0;
        font-size: 14px;
    }
}



@media screen and (max-width: 350px) {
    .app__partner-button button,
    .app__courses-button button {
        font-size: 14px;
    }
}