.app__landing {
    width: 100%;
    min-height: 100vh;
    padding-top: 30%;
    background-color: var(--color-white);
    overflow: hidden;

    position: relative;
}

.app__landing_hero {
    width: 60%;

    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-45%);
}

.app__landing_content {
    width: 55%;
    height: 60%;

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.app__landing_content-illustration {
    background-color: var(--color-blue);
    opacity: 0.4;
    border-radius: 4px;
    position: absolute;
}

#illustration-1 {
    width: 50%;
    height: 20%;

    top: 0;
    right: 0;
}

#illustration-2 {
    width: 10%;
    height: 50%;

    bottom: 0;
    left: 0;
}

.app__landing_content-title {
    width: 85%;
    height: 75%;
    padding: 5rem;
    background-color: rgb(47, 159, 226, 0.9);
    border-radius: 4px;
    opacity: 0.8;
}



@media screen and (max-width: 1150px) {
    .app__landing_hero {
        width: 160%;

        top: 0;
        left: -40%;
        transform: translate(0, 0);
    }

    .app__landing_content {
        width: 80%;
        height: 60%;
    
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    .app__landing_content-illustration {
        opacity: 0.3;
    }

    .app__landing_content-title {
        background-color: rgb(47, 159, 226, 0.8);
    }
}



@media screen and (max-width: 850px) {
    .app__landing_content {
        width: 80%;
        height: 60%;
    }
}
