.app__learningcard {
    width: 90%;
    margin-bottom: 6.5rem;
    padding: 1.6rem 1rem 1em;
    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__learningcard_informationcontainer {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.app__learningcard_illustration {
    width: 30%;
}

.app__learningcard_information {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.app__learningcard_information-title {
    margin-bottom: 2rem;
}

.app__learningcard_information-description {
    font-size: 16px;
    line-height: 30px;
}

.app__learningcard_navigation {
    width: 30%;
}

.app__learningcard_navigation button {
    width: 100%;
    /* margin-top: 0.6rem; */
    padding: 0.6rem 0;
    color: var(--color-blue);
    background-color: var(--color-white);
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}

.app__learningcard_navigation button:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.app__learningcard_navigation button:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.dropdown_arrow {
    margin-left: 0.5rem;
}



@media screen and (min-width: 2000px) {
    .app__learningcard {
        width: 100%;
        padding: 2rem 1.5rem 1.5em;
        border-radius: 8px;
    }

    .app__learningcard_information-description {
        font-size: 22px;
        line-height: 35px;
    }

    .app__learningcard_navigation {
        width: 35%;
    }

    .app__learningcard_navigation button {
        margin-top: 0rem;
        padding: 1rem 0;
        border-radius: 6px;
        font-size: 26px;
    }

    .dropdown_arrow {
        font-size: 3rem;
    }
}



@media screen and (min-width: 1151px) and (max-width: 1600px) {
    .app__learningcard {
        width: 100%;
    }

    .app__learningcard_navigation {
        width: 55%;
        margin-top: 2rem;
    }
}



@media screen and (min-width: 1150px) and (max-width: 1500px) {
    .app__learningcard_informationcontainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .app__learningcard_illustration {
        width: 50%;
        margin-bottom: 1rem;
    }
    
    .app__learningcard_information {
        width: 100%;

        justify-content: flex-start;
        align-items: center;
    }
}



@media screen and (max-width: 1150px) {
    .app__learningcard {
        width: 100%;
        margin-bottom: 5rem;
        padding: 2rem 2em;
    }

    .app__learningcard_illustration {
        width: 26%;
    }

    .app__learningcard_information-description {
        font-size: 20px;
        line-height: 30px;
    }

    .app__learningcard_navigation button {
        padding: 1rem 0;
        font-size: 18px;
    }
}



@media screen and (max-width: 850px) {
    .app__learningcard_illustration {
        width: 35%;
    }

    .app__learningcard_information {
        width: 55%;
    }

    .app__learningcard_information-title {
        margin-bottom: 1.5rem;
    }

    .app__learningcard_information-description {
        font-size: 16px;
        line-height: 30px;
    }

    .app__learningcard_navigation {
        width: 35%;
        margin-top: 2rem;
    }

    .app__learningcard_navigation button {
        padding: 1rem 0;
        font-size: 16px;
    }
}



@media screen and (max-width: 650px) {
    .app__learningcard {
        align-items: center;
    }

    .app__learningcard_informationcontainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .app__learningcard_illustration {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .app__learningcard_information {
        width: 100%;
        text-align: center;

        justify-content: flex-start;
        align-items: center;
    }

    .app__learningcard_information-description {
        font-size: 18px;
        line-height: 30px;
    }

    .app__learningcard_navigation {
        width: 100%;
    }

    .app__learningcard_navigation button {
        font-size: 18px;
    }
}



@media screen and (max-width: 650px) {
    .app__learningcard_information-description {
        font-size: 16px;
        line-height: 25px;
    }

    .app__learningcard_navigation button {
        font-size: 16px;
    }
}
