.app__coursecard-container {
    width: 22%;
    cursor: pointer;
}

.app__coursecard {
    width: 100%;
    /* min-height: 30rem; */
    margin-bottom: 4rem;
    background-color: var(--color-white);
    border-radius: 6px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app__coursecard-container:nth-last-child(4) .app__coursecard,
.app__coursecard-container:nth-last-child(3) .app__coursecard,
.app__coursecard-container:nth-last-child(2) .app__coursecard,
.app__coursecard-container:nth-last-child(1) .app__coursecard {
    margin-bottom: 0;
}

.app__coursecard:hover {
    transform: scale(1.03);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

.app__coursecard-illustration {
    width: 70%;
    padding: 1rem 0;
}

.app__coursecard-title {
    width: 100%;
    height: 7rem;
    padding: 1rem 2rem;
    color: var(--color-black);
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px -5px 10px;
    align-items: flex-start;
}

.app__coursecard-footer {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--color-lightblue);
}

.app__coursecard-footer_logo {
    width: 7%;
    margin-right: 0.6rem;
}

.app__coursecard-footer_name {
    width: 70%;
    font-weight: 500;
    font-family: var(--font-main);
    letter-spacing: 0.03em;
    color: var(--color-black);
}



@media screen and (min-width: 2000px) {
    .app__coursecard-title {
        height: 10rem;
        padding: 2rem 2rem;
        line-height: 36px;
    }

    .app__coursecard-footer {
        padding: 0.8rem 0;
    }
    
    .app__coursecard-footer_name {
        font-size: 22px;
    }
}



@media screen and (min-width: 1351px) and (max-width: 1650px) {
    .app__coursecard-title {
        height: 9rem;
    }

    .app__coursecard-footer_logo {
        width: 8%;
    }
}



@media screen and (min-width: 1150px) and (max-width: 1350px) {
    .app__coursecard-title {
        height: 10rem;
    }
}



@media screen and (max-width: 1150px) {
    .app__coursecard-container {
        width: 45%;
    }

    .app__coursecard-container:nth-last-child(4) .app__coursecard,
    .app__coursecard-container:nth-last-child(3) .app__coursecard {
        margin-bottom: 4rem;
    }

    .app__coursecard-container:nth-last-child(2) .app__coursecard,
    .app__coursecard-container:nth-last-child(1) .app__coursecard {
        margin-bottom: 0;
    }

    .app__coursecard-illustration {
        width: 60%;
    }

    .app__coursecard-title {
        height: 8rem;
    }
}



@media screen and (max-width: 850px) {
    .app__coursecard-title {
        height: 7rem;
        padding: 1rem;
        font-size: 20px;
        line-height: 30px;
    }

    .app__coursecard-footer_logo {
        width: 6%;
    }

    .app__coursecard-footer_name {
        font-size: 16px;
    }
}



@media screen and (max-width: 780px) {
    .app__coursecard-title {
        height: 6rem;
        font-size: 18px;
        line-height: 24px;
    }
}



@media screen and (max-width: 650px) {
    .app__coursecard {
        margin-bottom: 3rem;
    }

    .app__coursecard-container:nth-last-child(4) .app__coursecard,
    .app__coursecard-container:nth-last-child(3) .app__coursecard {
        margin-bottom: 3rem;
    }
    
    .app__coursecard-title {
        font-size: 16px;
        line-height: 22px;
    }

    .app__coursecard-footer_name {
        font-size: 14px;
        line-height: 20px;
    }

    .app__coursecard-footer_logo {
        width: 10%;
    }
}



@media screen and (max-width: 580px) {
    .app__coursecard {
        margin-bottom: 2rem;
    }

    .app__coursecard-container:nth-last-child(4) .app__coursecard,
    .app__coursecard-container:nth-last-child(3) .app__coursecard {
        margin-bottom: 2rem;
    }

    .app__coursecard-title {
        height: 6rem;
        padding: 0.6rem;
        font-size: 14px;
        line-height: 16px;
    }

    .app__coursecard-footer_logo {
        width: 8%;
    }

    .app__coursecard-footer_name {
        font-size: 10px;
        line-height: 20px;
    }
}



@media screen and (max-width: 400px) {
    .app__coursecard-illustration {
        width: 80%;
    }

    .app__coursecard-title {
        height: 5rem;
        padding: 1rem 0.6rem;
        font-size: 10px;
        line-height: 14px;
    }

    .app__coursecard-footer_logo {
        width: 8%;
    }

    .app__coursecard-footer_name {
        font-size: 8px;
        line-height: 14px;
    }
}