.app__partnership {
    width: 100%;
    background-color: var(--color-lightblue);

    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.app__partnership_partner,
.app__partnership_learn {
    width: calc(50% - 2px);
}

.app__partnership_partner {
    padding-right: 3rem;
}

.app__partnership_learn {
    padding-left: 3rem;
}

.app__partnership_partner-heading,
.app__partnership_learn-heading {
    width: 100%;
    margin-bottom: 4rem;
    text-align: left;
}

.app__partnership_partner-subheading {
    width: 100%;
    margin: 3rem 0 2rem;
    text-align: center;
}

.app__partnership_partner-illustrationcards {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.vertical__partition {
    width: 4px;
    height: 71rem;
    margin: 0.6rem 3rem;
    opacity: 0.6;
    background-color: var(--color-blue);
}



@media screen and (min-width: 2000px) {
    .app__partnership_partner,
    .app__partnership_learn {
        width: calc(50% - 3px);
    }

    .app__partnership_partner {
        padding-right: 5rem;
    }
    
    .app__partnership_learn {
        padding-left: 5rem;
    }

    .app__partnership_partner-heading,
    .app__partnership_learn-heading {
        margin-bottom: 3rem;
    }

    .app__partnership_partner-subheading {
        margin: 4rem 0 3rem;
    }

    .vertical__partition {
        width: 6px;
        height: 95rem;
    }
}



@media screen and (min-width: 2450px) {
    .vertical__partition {
        width: 6px;
        height: 97rem;
    }
}



@media screen and (max-width: 1680px) {
    .vertical__partition {
        height: 73rem;
    }
}



@media screen and (min-width: 1150px) and (max-width: 1500px) {
    .app__partnership_partner-heading,
    .app__partnership_learn-heading {
        margin-bottom: 3rem;
    }

    .app__partnership_partner-illustrationcards {
        justify-content: center;
        align-items: flex-start;
    }

    .vertical__partition {
        height: 106rem;
    }
}



@media screen and (max-width: 1380px) {
    .vertical__partition {
        height: 107.6rem;
    }
}



@media screen and (max-width: 1150px) {
    .app__partnership {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .app__partnership_learn-learningcards .app__learningcard:last-child {
        margin-bottom: 0;
    }

    .app__partnership_partner,
    .app__partnership_learn {
        width: 100%;
    }

    .app__partnership_partner {
        padding-right: 0rem;
    }

    .app__partnership_partner-heading {
        margin-bottom: 2.8rem;
    }
    
    .app__partnership_learn {
        padding-left: 0rem;
    }

    .app__partnership_learn-heading {
        margin-top: 4rem;
    }

    .app__partnership_partner-subheading {
        margin: 3rem 0 3rem;
    }

    .app__partnership_learn-heading {
        margin-top: 2rem;
    }

    .vertical__partition {
        display: none;
    }
}



@media screen and (max-width: 650px) {
    .app__partnership_partner-illustrationcards {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .app__partnership_partner-heading {
        margin-bottom: 2rem;
    }

    .app__partnership_learn-heading {
        margin: 3rem 0;
    }
}



@media screen and (max-width: 450px) {
    .app__partnership_learn-heading {
        margin: 2rem 0 2rem;
    }

    .app__partnership_partner-heading {
        margin: 0 0 2rem;
    }

    .app__partnership_partner-subheading {
        margin: 2rem 0 2rem;
    }
}